@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap');

body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

.news-card-wrapper {
  margin: 10px;
}

.wrapper-main {
  margin-right: 200px;
  margin-left: 200px;
}

.author-name {
  line-height: 13px;
  margin-bottom: 6px;
  line-height: 83%;
} 

.author-post-in-social {
  font-style: italic;
  font-size: 12px;
  line-height: 77%;
}

.author-name,
.author-post-in-social {
  color: #808080;
}

.author-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid white;
}

.box {
  border: 1px solid black;
}

.author-time-block:first-child {
  width: 36px;
  height: 36px;
  border: 1px solid black;
  border-radius: 50%;
}

.author-time-block {
  margin: 10px;
}

.author-time-block:nth-child(2) {
  font-size: 14px;
  line-height: 66%;
}

.wrapper-main-left,
.first-row,
.post-further {
  color: #808080;
}

.post-text-author {
  line-height: 83%;
}

.post-text-social {
  font-size: 12px;
  font-style: italic;
  line-height: 77%;
}

.wrapper-main-center {
  width: 100%;
}

.button {
  font-size: 11px;
  color: #0088EE;
  padding: 8px 10px;
  border: 1px solid #0088EE;
  margin-right: 10px;
  border-radius: 1px;
  margin-bottom: 0;
}

.button:hover {
  background:#674db0; 
  color: white;
  border: 1px solid #674db0;
  transition: all 1s;
  cursor: pointer;
}

.icon {
  width: 20px;
  height: 20px;
  margin: 0px;
  margin-right: 8px;
  padding: 0px;
  cursor: pointer;
}

.icons-line {
  padding: 0px;
}

.post {
  line-height: 135%;
  color: #333333;
  letter-spacing: -0.035em;
  margin-top: 9px;
  margin-bottom: 8px;
}

.wrapper-hashes {
  padding: 7px 9px 11px 9px;
  margin-left: 200px;
  margin-right: 200px;
  /* width: 100%; */
}

.hash {
  font-size: 12px;
  line-height: 82%;
  padding-right: 8px;
}

.hash-new {
  color: #0088EE;
}

.hash-expert {
  color: #CDCDCD;
}

.post-further {
  font-size: 12px;
  line-height: 82%;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 0;
}

.post-image {
  background: #f8f7f7;
  width: 259px;
  height: 146px;
  border-radius: 4px;
  margin-bottom: 0;
  /*transform: rotate(-90deg);*/
}

.wrapper-container {
  border: 1px solid rgb(212, 211, 211);  
}

.arrow-down {
  width: 32px;
  cursor: pointer;
}

.arrow-up {
  width: 32px;
  cursor: pointer;
}

.arrow-down:hover,
.arrow-up:hover {
  color: rgb(23, 30, 229);
}

.arrow-up-text {
  width: 30%;
}

.arrow-down-text {
  width: 30%;
}

.wrapper-arrows {
  background-color: rgb(230, 230, 230);
  border: 1px solid rgb(217, 217, 223);
  box-shadow: 1px -1px 5px 2px #808080;
  border-radius: 5px;
}

@media (max-width: 1200px) {
  .wrapper-main {
    margin-right: 0px;
    margin-left: 0px;
  }
  .icon {
    margin-right: 4px;
  }
}

 @media (max-width: 768px) {
  .icon {
    width: 50px;
    height: 50px;
    margin-right: -10px;
  }
}